<!DOCTYPE html>
<html>
<head>
  <title>FrontendTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div id="container">
      <div id="landing">
        <div class="nav">
          <div class="content">
        <%= image_tag("teachable_logo", class: 'logo') %>
        <div class="links">
          <div class="link">
        <%= link_to "Search", "/" %>
        </div>
        <div class="link">
        <%= link_to "Favorites", "/favorites" %>
        </div>
        </div>
      </div>
      </div>
    </div>
<%= yield %>
</div>
</body>
</html>
